@font-face {
  font-family: title;
  src: url(../../assets/StyleThief-Mz6w.ttf);
}

.App {
  text-align: center;
  height: 100vh;
  /* font-family: Epidemic, sans-serif; */
}

h1{
  font-family: title;
  font-size: 6em;
  letter-spacing: 0.1em;
  margin: 0%;
  padding-top:20px;
  padding-bottom:20px;
  color: rgba(245, 245, 245, 0.7);
  text-shadow: 1px 6px 5px rgb(255, 105, 180);
}

h1:hover {
  cursor:default;
}