/* .moods-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

p {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    height: 5em;
    width: 10%;
} */