/* @font-face {
  font-family: title;
  src: url(./assets/StyleThief-Mz6w.ttf);
}

* {
  font-family: title;
} */

body {
  margin: 0;
  /* background: #2E1A47; */
  background-image: linear-gradient(to bottom, #2E1A47 , rgba(46, 26, 71, .92));
}

